/* google fonts import link  */
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&family=Poppins:wght@500;700&display=swap");

/* common style  
-----------------*/
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.highlight-color {
  color: #e02c6d;
}
.container {
  padding: 50px 150px;
  margin-bottom: 50px;
}

/* =======================
header section style  
=========================*/
.header {
  background-color: #e02c6d;
}
.menu-items {
  display: flex;
  justify-content: space-between;
  margin: 0 120px;
}
.menu-title {
  color: white;
}
.menu-items a {
  text-decoration: none;
  font-size: 18px;
  color: white;
  margin: 0 10px;
}
.menu {
  display: flex;
  align-items: center;
}

/* ========================
influencer section styles 
=========================== */
.influencer-section {
  display: flex;
}
.influencer-left {
  width: 50%;
  text-align: left;
  display: flex;
  align-items: center;
}
.influencer-title {
  font-size: 52px;
  margin-bottom: 0;
}
.influencer-paragraph {
  font-size: 16px;
}
.influencer-button {
  background: #e02c6d;
  border-radius: 41px;
  width: 196px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
}
.influencer-button a {
  text-decoration: none;
  color: white;
}
.influencer-button:hover {
  transform: scale(1.05);
  transition: transform 0.5s;
}
.influencer-right {
  width: 50%;
  text-align: right;
}
.influence-banner:hover img {
  transform: scale(1.2);
  transition: transform 1s ease-in-out;
}

/* =========================
    company logo style 
=========================== */
.logo-container {
  border-top: 2px solid #f7f0ff;
  border-bottom: 2px solid #f7f0ff;
}
.company-logos {
  display: flex;
  justify-content: center;
  column-gap: 50px;
  padding: 35px 0;
}

/* =============================
   popular collection style 
   ============================= */
.popular-collections-title {
  font-size: 28px;
  text-align: center;
  margin-bottom: 50px;
}
.collection-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.item {
  border-radius: 10px;
  padding: 14px;
  box-shadow: 0 10px 40px 0px rgb(172, 170, 170);
}
.item:hover {
  transform: scale(1.03);
  transition: transform 0.4s ease-in;
}
.item-image img {
  width: 100%;
}
.item-name {
  margin-top: 16px;
  margin-bottom: 6px;
}
.price {
  font-size: 24px;
  margin: 0;
}
.filled {
  color: #ffc014;
  font-size: 12px;
}
.empty {
  color: #aeaeae;
  opacity: 0.25;
  font-size: 12px;
}
.item-info {
  color: #787885;
  font-size: 14px;
  font-weight: bold;
}
.see-more {
  margin-top: 50px;
  display: flex;
  justify-content: flex-end;
}
.see-more a {
  font-size: 16px;
  text-decoration: none;
  color: #e02c6d;
}

/* =============================
discount banner section style 
================================*/
.discount-heading {
  font-size: 30px;
  text-align: center;
}
.discount-banner-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 25px;
}
.discount-banner {
  display: flex;
  background-color: #9f7fda;
  border-radius: 10px;
  width: 500px;
  padding: 20px 0 15px 20px;
}
.products{
  display: flex;
  justify-content:space-between;
}
.discount-title {
  width: 40%;
  margin-top: 70px;
}
.discount-title h1 {
  font-size: 25px;
  color: white;
}
.discount-banner-image {
  width: 60%;
}
.discount-banner-image img {
  width: 100%;
}
.discount-items {
  width: 200px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 40px 0px rgb(172, 170, 170);
}
.discount-items:hover {
  transform: scale(1.02);
  transition: transform 0.5s;
}
.product-image img {
  width: 100%;
  border-radius: 10px;
  height: 200px;
}

/* =====================
  footer section style 
  ====================== */
.footer-section {
  display: flex;
  justify-content: center;
  background-color: #0a0826;
  padding: 50px;
}
.footer-info {
  text-align: center;
}
.footer-title {
  font-size: 24px;
  margin-bottom: 0;
  color: white;
}
.copyright {
  color: #d9dbe1;
  font-size: 14px;
  margin-top: 6px;
}
.footer-icons {
  display: flex;
  justify-content: space-evenly;
}
.footer-icons a {
  color: white;
  background-color: rgba(255, 255, 255, 0.212);
  height: 26px;
  width: 26px;
  border-radius: 13px;
}
.footer-icons a:hover {
  transform: scale(1.2);
}

/* ================================
media query for responsiveness
================================== */

/* media query for Mobile devices
---------------------------------- */

@media only screen and (max-width:688px) {

  .container{
    padding: 20px 20px;
  }
  .menu-items{
    display: flex;
    margin: 0;
    padding-left: 20px;
  }
  .menu-title{
    font-size:14px;
  }
  .menu{
    padding-right: 10px;
  }
  .menu a{
    font-size:11px;
    margin: 0 5px;
  }

  .influencer-section{
    display: grid;
    grid-template-columns:repeat(1,1fr);
  }
  .influencer-title{
    font-size:27px;
  }
  .influencer-left{
    width: 100%;
    text-align: center;
  }
  .influencer-button{
    margin: 0 auto;
  }
  .influencer-right{
    width: 100%;
    padding-top: 15px;
  }
  .influencer-right img{
    width: 100%;
  }

  .company-logos{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    grid-gap: 25px;
    justify-items: center;
  }

  .collection-items{
    display: grid;
    grid-template-columns:repeat(1,1fr);
  }

  .discount-banner-container{
    display: grid;
    grid-template-columns:repeat(1,1fr);
  }
  .discount-banner{
    width:94%;
  }
  .products{
    display: grid;
    grid-template-columns:repeat(1,1fr);
    grid-gap: 30px;
  }
  .discount-items{
    width:88%;
  }
}

/* media query for tablet devices
---------------------------------- */

@media only screen and (min-width:688px) and (max-width:992px) {

  .container{
    padding:30px 20px;
  }
  .menu-items{
    width: 90%;
    margin: 0;
    display: flex;
  }
  .menu-title{
    font-size:25px;
  }
  .menu a{
    font-size: 20px;
    margin: 0 8px;
  }

  .influencer-section{
    display:grid;
    grid-template-columns:repeat(1,1fr);
    grid-gap: 30px;
  }
  .influencer-left{
    width:100%;
    text-align: center;
  }
  .influencer-button{
    margin: 0 auto;
  }
  .influencer-right{
    width:100%;
    text-align: center;
  }

  .company-logos{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-gap: 50px;
    align-items: center;
    justify-items: center;

  }

  .collection-items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
  }
  
  .discount-banner-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 50px;
    justify-content: center;
    align-items: stretch;
  }
  .discount-banner{
    width: 97%;
  }
  .discount-title h1{
    font-size:3em;
  }
  .products{
    display: flex;
    justify-content: space-around;
  }
 
}